/ {
	chosen {
		zephyr,code-partition = &boot_partition;
		#zephyr,boot-partition = &boot_partition;
	};
};

/* 1. DOĞRU ETİKET İLE TEMİZLİK */
/* Verdiğin n25q128a1 etiketi ile çipe ulaşıp içindeki tanımları siliyoruz */
&n25q128a1 {
	/delete-node/ partitions;
};

/* 2. QSPI Donanımını Kapatıyoruz */
&quadspi {
	status = "disabled";
};

/* 3. Dahili Flash Üzerine Kurulum (Sector Hizalı) */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Sector 0-1 (32KB+32KB) -> Bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>; 
		};

		/* Sector 2-3-4 (32KB+32KB+128KB) -> Slot 0 (App) */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00030000>; 
		};

		/* Sector 5 (256KB) -> Slot 1 (Update) */
		slot1_partition: partition@40000 {
			label = "image-1";
			reg = <0x00040000 0x00040000>; 
		};

		/* Sector 6 (256KB) -> Scratch (Swap için) */
		scratch_partition: partition@80000 {
			label = "image-scratch";
			reg = <0x00080000 0x00010000>; 
		};
	};
};