
/ {
	chosen {
		zephyr,code-partition = &slot0_partition;	
		zephyr,bootloader-partition = &boot_partition;
		zephyr,flash = &mx25lm51245;
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;		
	};
	aliases {
        usart-1 = &usart1;
		usart-3 = &usart3;
    };
	gpios {		
		compatible = "gpio-leds";	
		my_red_led: my_red_led {			
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;	
			label = "RED LED LED2";
		};
		my_green_led: my_green_led {			
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;	
			label = "GREEN LED LED1";
		};		
		boot0_pin: boot0_pin {			
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;	
			label = "Targer Boot0 Pin";
		};	
		nrst_pin: nrst_pin {			
			gpios = <&gpiog 3 GPIO_ACTIVE_HIGH>;	
			label = "Targer NRESET Pin";
		};			
		button: button {
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
			label = "Button";
		};											
	};				
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";	
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";		
};

&rcc {
    clock-frequency = <DT_FREQ_M(64)>;
    d1cpre = <1>;
    hpre = <1>;     /* Prescaler'ları azalt */
    d1ppre = <1>;
    d2ppre1 = <2>;
    d2ppre2 = <2>;
    d3ppre = <2>;
};

&pll {
    div-m = <5>;     /* 25MHz/5 = 5 MHz */
    mul-n = <128>;   /* 5MHz * 128 = 640 MHz */
    div-p = <10>;    /* 640/10 = 64 MHz (SYSCLK) */
    div-q = <5>;
    div-r = <5>;
};

&octospi1 {
	status = "okay";
};

&mx25lm51245 {
	/delete-node/ partitions;
	ospi-max-frequency = <50000000>;  // 50 MHz
	data-rate = <1>;
	status = "okay";	
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "mcuboot-primary-1";
			reg = <0x00000000 0x00200000>;  // 2mb
		};

		slot1_partition: partition@200000 {
			label = "mcuboot-secondary-1";
			reg = <0x00200000 0x00200000>;  // 2mb
		};			
	};
};

/* TÜM SLOTLAR DAHİLİ FLASH (ROM) İÇİNDE */
&flash0 {
	/delete-node/ partitions;	
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Sektör 0: Bootloader (128KB) */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00020000>; 
		};

		/* Sektör 5: Swap için gerekli alan (128KB) */
		scratch_partition: partition@a0000 {
			label = "image-scratch";
			reg = <0x000a0000 0x00020000>;
		};
	};
};