
/ {
	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;		
	};
	aliases {
        usart-1 = &usart1;
		usart-3 = &usart3;
    };
	gpios {		
		compatible = "gpio-leds";	
		my_red_led: my_red_led {			
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;	
			label = "RED LED LED2";
		};
		my_green_led: my_green_led {			
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;	
			label = "GREEN LED LED1";
		};		
		boot0_pin: boot0_pin {			
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;	
			label = "Targer Boot0 Pin";
		};	
		nrst_pin: nrst_pin {			
			gpios = <&gpiog 3 GPIO_ACTIVE_HIGH>;	
			label = "Targer NRESET Pin";
		};			
		button: button {
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
			label = "Button";
		};											
	};				
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <19200>;
	parity = "even";
	status = "okay";	
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	parity = "even";
	status = "okay";		
};


