/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,boot-partition = &boot_partition; 
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;		
	};
	aliases {
        usart6 = &usart6;
		uart7 = &uart7;
    };	
	gpios {		
		compatible = "gpio-leds";	
		my_red_led: my_red_led {			
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;	
			label = "RED LED LED2";
		};
		my_green_led: my_green_led {			
			gpios = <&gpioi 1 GPIO_ACTIVE_LOW>;	
			label = "GREEN LED LED1";
		};		
		boot0_pin: boot0_pin {			
			gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;	
			label = "Targer Boot0 Pin";
		};	
		nrst_pin: nrst_pin {			
			gpios = <&gpiog 3 GPIO_ACTIVE_LOW>;	
			label = "Targer NRESET Pin";
		};					
		button: button {
			gpios = <&gpioi 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Button";
		};											
	};				
};

&uart7 {
	pinctrl-0 = <&uart7_rx_pf6 &uart7_tx_pf7>;
	pinctrl-names = "default";
	current-speed = <19200>;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";	
};

&n25q128a1 {
	/delete-node/ partitions;
};

&quadspi {
	status = "disabled";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>; /* 64KB */
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00030000>; /* 192KB */
		};

		slot1_partition: partition@40000 {
			label = "image-1";
			reg = <0x00040000 0x00040000>; /* 256KB */
		};

		scratch_partition: partition@80000 {
			label = "image-scratch";
			reg = <0x00080000 0x00010000>; /* 64KB */
		};
	};
};

&usart1 {
    status = "okay";
};