
/ {
	chosen {
		zephyr,code-partition = &slot0_partition;	
		zephyr,bootloader-partition = &boot_partition;
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;		
	};
	aliases {
        usart-1 = &usart1;
		usart-3 = &usart3;
    };
	gpios {		
		compatible = "gpio-leds";	
		my_red_led: my_red_led {			
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;	
			label = "RED LED LED2";
		};
		my_green_led: my_green_led {			
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;	
			label = "GREEN LED LED1";
		};		
		boot0_pin: boot0_pin {			
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;	
			label = "Targer Boot0 Pin";
		};	
		nrst_pin: nrst_pin {			
			gpios = <&gpiog 3 GPIO_ACTIVE_HIGH>;	
			label = "Targer NRESET Pin";
		};			
		button: button {
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
			label = "Button";
		};											
	};				
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <19200>;
	parity = "even";
	status = "okay";	
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	parity = "even";
	status = "okay";		
};

&mx25lm51245 {
	/delete-node/ partitions;
};

&quadspi {
	status = "disabled";
};

/* Dahili Flash (Flash0) - 128KB Sektör Hizalaması */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* STM32H735 Sektör Boyutu: 128KB */
		/* Bootloader F7'deki gibi 64KB OLAMAZ. 128KB (0x20000) olmak zorunda */
		
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00020000>; /* 128KB (1 Sektör) */
		};

		/* Slot 0 - Uygulama */
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 0x00060000>; /* 384KB (3 Sektör) */
		};

		/* Slot 1 - Güncelleme (Dahili flasha sığdırmak için) */
		/* H735G 1MB Flash'a sahiptir. Yer darlığı çekebilirsin.
		   Eğer sığmıyorsa Slot1 harici flasha taşınmalı. 
		   Şimdilik dahili örnek: */
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 0x00060000>; /* 384KB (3 Sektör) */
		};

		/* Scratch - 128KB */
		scratch_partition: partition@e0000 {
			label = "image-scratch";
			reg = <0x000e0000 0x00020000>; /* 128KB (1 Sektör) */
		};
	};
};